<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Discover Corundum: a simple batch script that allows you to manage your computer.">
        <title>Corundum</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/favicon.png">
    </head>
    <body>
    <header>
        <nav>
            <h1>Corundum</h1>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="https://github.com/enioaiello/corundum/releases/latest" target="_blank">Download</a></li>
                <li><a href="https://github.com/enioaiello/corundum/wiki" target="_blank">Documentation</a></li>
                <li><a href="./about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Team</h2>
            <div class="articleContain">
                <article>
                    <h3>Enio Aiello</h3>
                    <p>Enio Aiello is a developer who is passionate about programming and technology. He is the creator of Corundum and is responsible for maintaining the project.</p>
                </article>
            </div>
        </section>
        <section>
            <h2>Included utilities</h2>
            <div id="utilities" class="articleContain">

            </div>
        </section>
    </main>
    <footer>
        <p>&copy;2024, <a href="https://enioaiello.github.io/" target="_blank">Enio Aiello</a>. All right reserved.</p>
    </footer>
    <script src="../assets/js/script.js"></script>
</body>
</html>